                                            <ul class="slides">
												{% for citation in citations %} 
                                                 <li class="twt-item">
													<div class="twt-body">
														<div class="twt-in">
															{{ citation.pensee }}
														</div>
														<div class="clearfix"></div>
														<a class="twitter-time header-font fw-bolder" target="_blank" href="#">
                                                        {{ citation.publieLe|date('Y-m-d h:i:s')|duree}}
                                                        </a>
														{% if citation.auteur %}<a class="twitter-time header-font fw-bolder" target="_blank" href="#"> {{ citation.auteur }}</a>{% endif %}
                                                        {% if citation.ouvrage %}
														<span class="twt-extra-info"> - <a class="twitter-time header-font fw-bolder" target="_blank" href="#">{{ citation.ouvrage }}</a></span>
                                                        {% endif %}
                                                        
													</div>
												</li>   
                                                {% endfor %}
											</ul>