{% extends "security_layout.html.twig" %}

{% block title %}Devenir membre {% endblock%}

{% block body %}
<div class="register-box-body">
    <p class="login-box-msg">Devenez membre</p>
{% include "@FOSUser/Registration/register_content.html.twig" %}
</div>
{% endblock body %}
